-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "public";

-- CreateTable
CREATE TABLE "audit_logs" (
    "id" BIGSERIAL NOT NULL,
    "admin_user_id" UUID,
    "action" VARCHAR(100) NOT NULL,
    "entity_type" VARCHAR(100) NOT NULL,
    "entity_id" BIGINT,
    "details" JSONB,
    "created_at" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "audit_logs_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "brands" (
    "id" BIGSERIAL NOT NULL,
    "name" VARCHAR(150) NOT NULL,
    "slug" VARCHAR(120) NOT NULL,
    "website_url" TEXT,
    "logo_url" TEXT,
    "active" BOOLEAN NOT NULL DEFAULT true,
    "created_at" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "fb_pixel_id" VARCHAR(50),
    "ga_id" VARCHAR(50),

    CONSTRAINT "brands_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "campaigns" (
    "id" BIGSERIAL NOT NULL,
    "brand_id" BIGINT NOT NULL,
    "name" VARCHAR(200) NOT NULL,
    "slug" VARCHAR(150) NOT NULL,
    "campaign_type" VARCHAR(100) DEFAULT '',
    "start_date" DATE,
    "end_date" DATE,
    "budget" DECIMAL(12,2),
    "status" TEXT NOT NULL DEFAULT 'active',
    "notes" TEXT,
    "created_at" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "campaigns_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "destinations" (
    "id" BIGSERIAL NOT NULL,
    "qr_id" BIGINT NOT NULL,
    "website_url" TEXT NOT NULL,
    "android_url" TEXT,
    "ios_url" TEXT,
    "utm_source" VARCHAR(150) DEFAULT '',
    "utm_medium" VARCHAR(150) DEFAULT '',
    "utm_campaign" VARCHAR(150) DEFAULT '',
    "utm_content" VARCHAR(150) DEFAULT '',
    "utm_term" VARCHAR(150) DEFAULT '',
    "effective_from" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "effective_to" TIMESTAMPTZ(6),
    "created_at" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "fb_pixel_id" VARCHAR(50),
    "ga_id" VARCHAR(50),

    CONSTRAINT "destinations_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "qrs" (
    "id" BIGSERIAL NOT NULL,
    "brand_id" BIGINT NOT NULL,
    "campaign_id" BIGINT NOT NULL,
    "name" VARCHAR(200) NOT NULL,
    "code" VARCHAR(100) NOT NULL,
    "channel" VARCHAR(100) DEFAULT '',
    "location" VARCHAR(150) DEFAULT '',
    "active" BOOLEAN NOT NULL DEFAULT true,
    "created_at" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "qrs_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "scans" (
    "id" BIGSERIAL NOT NULL,
    "qr_id" BIGINT NOT NULL,
    "destination_id" BIGINT,
    "scanned_at" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "ip_hash" CHAR(64),
    "country" VARCHAR(100),
    "city" VARCHAR(100),
    "browser" VARCHAR(100),
    "browser_version" VARCHAR(50),
    "os" VARCHAR(100),
    "os_version" VARCHAR(50),
    "device" VARCHAR(100),
    "device_type" VARCHAR(30),
    "referrer" TEXT,
    "user_agent" TEXT,
    "destination_type" VARCHAR(20) NOT NULL DEFAULT 'website',

    CONSTRAINT "scans_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE INDEX "idx_audit_created" ON "audit_logs"("created_at" DESC);

-- CreateIndex
CREATE UNIQUE INDEX "brands_slug_key" ON "brands"("slug");

-- CreateIndex
CREATE INDEX "idx_brands_created" ON "brands"("created_at" DESC);

-- CreateIndex
CREATE INDEX "idx_campaign_dates" ON "campaigns"("start_date", "end_date");

-- CreateIndex
CREATE INDEX "idx_campaign_status" ON "campaigns"("status");

-- CreateIndex
CREATE UNIQUE INDEX "campaigns_brand_id_slug_key" ON "campaigns"("brand_id", "slug");

-- CreateIndex
CREATE INDEX "idx_destination_qr" ON "destinations"("qr_id", "effective_from", "effective_to");

-- CreateIndex
CREATE INDEX "idx_destinations_qr_id" ON "destinations"("qr_id");

-- CreateIndex
CREATE UNIQUE INDEX "qrs_code_key" ON "qrs"("code");

-- CreateIndex
CREATE INDEX "idx_qr_active" ON "qrs"("active");

-- CreateIndex
CREATE INDEX "idx_qr_brand" ON "qrs"("brand_id");

-- CreateIndex
CREATE INDEX "idx_qr_campaign" ON "qrs"("campaign_id");

-- CreateIndex
CREATE INDEX "idx_qrs_code" ON "qrs"("code");

-- CreateIndex
CREATE INDEX "idx_scan_city" ON "scans"("city");

-- CreateIndex
CREATE INDEX "idx_scan_country" ON "scans"("country");

-- CreateIndex
CREATE INDEX "idx_scan_date" ON "scans"("scanned_at");

-- CreateIndex
CREATE INDEX "idx_scan_qr_date" ON "scans"("qr_id", "scanned_at");

-- CreateIndex
CREATE INDEX "idx_scans_qr_id" ON "scans"("qr_id");

-- AddForeignKey
ALTER TABLE "campaigns" ADD CONSTRAINT "campaigns_brand_id_fkey" FOREIGN KEY ("brand_id") REFERENCES "brands"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "destinations" ADD CONSTRAINT "destinations_qr_id_fkey" FOREIGN KEY ("qr_id") REFERENCES "qrs"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "qrs" ADD CONSTRAINT "qrs_brand_id_fkey" FOREIGN KEY ("brand_id") REFERENCES "brands"("id") ON DELETE RESTRICT ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "qrs" ADD CONSTRAINT "qrs_campaign_id_fkey" FOREIGN KEY ("campaign_id") REFERENCES "campaigns"("id") ON DELETE RESTRICT ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "scans" ADD CONSTRAINT "scans_destination_id_fkey" FOREIGN KEY ("destination_id") REFERENCES "destinations"("id") ON DELETE SET NULL ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "scans" ADD CONSTRAINT "scans_qr_id_fkey" FOREIGN KEY ("qr_id") REFERENCES "qrs"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

